
.closebutton {
    background-color: transparent;
    border: 2px solid transparent;
    border-radius: 10px;
    color: black;
    padding: 5px;
    text-align: center;
    display: inline-block;
    font-size: small;
    font-style: italic;
    left: 100px;
    transition-duration: 0.4s;
    outline: none;
}

.closebutton:hover{
    background-color: #000;
    border: 2px solid #000;
    color: white;
}

.closebutton:active {
    background-color: #3C3F48;
    border-color: #fff;
    color: #fff;
}


/*
        LIST
 */

main.mainApp section.desksMain section.taskList {
    overflow-y: scroll;
    height: 87%;
}

main.mainApp section.desksMain section.taskList::-webkit-scrollbar {
    display: none;
}

main.mainApp section.mainSection .oneDesk {
    width: 100%;
    margin: 0;
    clear: none;
    display: inline-block;
}

main.mainApp section.mainSection span.deskTitle {
    display: block;
    width: 100%;
    word-break: break-word;
}

main.mainApp section.mainSection span.deskDate {
    font-size: small;
    font-style: italic;
    display: block;
}





