
.closebutton {
    background-color: transparent;
    border: 2px solid transparent;
    border-radius: 10px;
    color: black;
    padding: 5px;
    text-align: center;
    display: inline-block;
    font-size: small;
    font-style: italic;
    left: 100px;
    transition-duration: 0.4s;
    outline: none;
}

.closebutton:hover{
    background-color: #000;
    border: 2px solid #000;
    color: white;
}

.closebutton:active {
    background-color: #3C3F48;
    border-color: #fff;
    color: #fff;
}


/*
        LIST
 */

main.mainApp section.desksMain section.taskList {
    overflow-y: scroll;
    height: calc(100% - 25px);
    width: 100%;
    padding: 8px;
}

main.mainApp section.desksMain section.taskList::-webkit-scrollbar {
    display: none;
}

main.mainApp section.mainSection .oneDesk {
    width: 100%;
    margin: 0;
    clear: none;
    display: inline-block;
}

main.mainApp section.mainSection span.deskTitle {
    display: block;
    width: 100%;
    word-break: break-word;
}

main.mainApp section.mainSection span.deskDate {
    font-size: small;
    font-style: italic;
    display: block;
}

th {
    font-weight: normal;
    color: #039;
    border-bottom: 1px dashed #69c;
    padding: 12px 17px;
}
td {
    color: #669;
    padding: 7px 17px;
}
.blocked {
    color: #af4245;

}
.blocked:hover{
    color:#e8edff;
    background-color: #af5759;
}

tr:hover th {
    background: #e8edff;
}


.navbutton {
    margin-left: 10px;
    margin-right: 10px;
}





.button-6 {
              align-items: center;
              background-color: #FFFFFF;
              border: 1px solid rgba(0, 0, 0, 0.1);
              border-radius: .25rem;
              box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
              box-sizing: border-box;
              color: rgba(0, 0, 0, 0.85);
              cursor: pointer;
              display: inline-flex;
              font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
              font-size: 16px;
              font-weight: 600;
              justify-content: center;
              line-height: 1.25;
              margin: 0;
              min-height: 3rem;
              padding: calc(.875rem - 1px) calc(1.5rem - 1px);
              position: relative;
              text-decoration: none;
              transition: all 250ms;
              user-select: none;
              -webkit-user-select: none;
              touch-action: manipulation;
              vertical-align: baseline;
              width: auto;
                                                 }

.button-6:hover,
.button-6:focus {
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    color: rgba(0, 0, 0, 0.65);
}

.button-6:hover {
    transform: translateY(-1px);
    background-color: #3C3F48;
    color: #fff;
}

.button-6:active {
    background-color: #F0F0F1;
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
    color: rgba(0, 0, 0, 0.65);
    transform: translateY(0);
}

.listbutton{
    margin: 25px;
}

