/*
@import "~materialize-css/dist/css/materialize.min.css";
 */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
    color: #3C3F48;
    box-sizing: border-box;
}


/*input.yellow-input {*/
/*    border-bottom: 1px solid #fff!important;*/
/*    box-shadow: 0 1px 0 0 #fff!important;*/
/*}*/

/*input.yellow-input + label {*/
/*    color: #ffffff!important;*/
/*}*/

/*input.yellow-input:focus + label {*/
/*    color: #ffffff!important;*/
/*}*/

/*input.yellow-input:focus {*/
/*    border-bottom: 1px solid #ffeb3b!important;*/
/*    box-shadow: 0 1px 0 0 #ffeb3b!important;*/
/*}*/

/*.note {*/
/*    display: flex;*/
/*    justify-content:space-between ;*/
/*    align-items: center;*/

/*}*/
/*strong {*/
/*     margin-right: 1rem;*/
/* }*/



/*
                    NEW
 */

div.page {
    background-color: #F4F5F9;
    min-width: 250px;
}



/*
    NewNavBar
*/

nav.NewNavBar {
    height: 110px;
    display: flex;
    justify-content: space-between;
    color: #3C3F48;

}

nav.NewNavBar .logo {
    margin: 0 50px;
    display: flex;
    align-items: center;
    font-weight: 600;
}

nav.NewNavBar .logo span {
    font-size: 20px;
}

nav.NewNavBar ul {
    margin: 0 25px;
    padding: 0px 0px;
    list-style: none;

    display: flex;
    align-items: center;
}

nav.NewNavBar li {
    margin: 0 25px;
}

/*nav.NewNavBar a {*/
/*    text-decoration: none;*/
/*    color: inherit;*/
/*    font-weight: 600;*/
/*}*/

/*nav.NewNavBar a[href="/register"] {*/
/*    padding: 15px 30px;*/
/*    border: 1px solid transparent;*/
/*    background-color: #fff;*/
/*    border-radius: 30px;*/
/*    color: #45AF61;*/
/*    box-shadow: rgba(50, 50, 93, 0.25) 0px 20px 30px -12px, rgba(0, 0, 0, 0.3) 0px 8px 18px -18px;*/
/*    transition: 0.5s;*/
/*}*/

/*nav.NewNavBar a[href="/register"]:hover {*/
/*    border: 1px solid #45AF61;*/
/*    box-shadow: rgba(50, 50, 93, 0.25) 0px 10px 30px -12px, rgba(0, 0, 0, 0.3) 0px 4px 18px -18px;*/
/*    transition: 0.5s;*/
/*}*/

/*nav.NewNavBar a[href="/auth"] {*/
/*    border: 1px solid transparent;*/
/*    border-radius: 30px;*/
/*    padding: 15px 30px;*/
/*    transition: 0.5s;*/
/*}*/

/*nav.NewNavBar a[href="/auth"]:hover {*/
/*    border: 1px solid #45AF61;*/
/*    background-color: #fff;*/
/*    color: #45AF61;*/
/*    transition: 0.5s;*/
/*}*/

/*
    Buttons
 */

nav.NewNavBar button {
    outline: none;
    text-decoration: none;
    color: inherit;
    font-weight: 600;
    /*font-size: 13.34px;*/
    padding: 15px 30px;
    border: 1px solid transparent;
}



nav.NewNavBar button.SignUp {
    background-color: #fff;
    border-radius: 30px;
    color: #4581af;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 20px 30px -12px, rgba(0, 0, 0, 0.3) 0px 8px 18px -18px;
    transition: 0.5s;
}

nav.NewNavBar button.SignUp:hover {
    border: 1px solid #4581af;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 10px 30px -12px, rgba(0, 0, 0, 0.3) 0px 4px 18px -18px;
    transition: 0.5s;
}

nav.NewNavBar button.SignUp:active {
    box-shadow: inset rgba(50, 50, 93, 0.25) 0px 10px 30px -12px, rgba(0, 0, 0, 0.3) 0px 4px 18px -18px;
    transition: 0.5s;
}

nav.NewNavBar button.SignIn {
    background-color: #F4F5F9;
    border-radius: 30px;
    transition: 0.5s;
}

nav.NewNavBar button.SignIn:hover {
    border: 1px solid #4581af;
    background-color: #fff;
    color: #4581af;
    transition: 0.5s;
}

nav.NewNavBar button.SignIn:active {
    border: 1px solid transparent;
    box-shadow: inset rgba(50, 50, 93, 0.25) 0px 10px 30px -12px, rgba(0, 0, 0, 0.3) 0px 4px 18px -18px;
    transition: 0.5s;
}

/*
    Responsive NavBar
 */

@media screen and (max-width: 600px) {
    nav.NewNavBar {
        height: 60px;
        display: flex;
        justify-content: space-between;
        color: #3C3F48;

    }

    nav.NewNavBar .logo {
        margin: 0 20px;
        display: flex;
        align-items: center;
        font-weight: 600;
    }

    nav.NewNavBar li {
        margin: 0 5px;
    }

    nav.NewNavBar .logo span {
        font-size: 16px;
    }

    nav.NewNavBar ul {
        margin: 0 0px;
    }

    nav.NewNavBar button {
        padding: 8px 12px;
        font-size: 10px;
        /*border: 1px solid transparent;*/
    }

    nav.NewNavBar button.SignUp {
        background-color: transparent;
        border: none;
        color: #4581af;
        box-shadow: none;
        transition: 0.5s;
    }
}

/*
    MainPageMain
*/

main.startMain {
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

main.startMain section.mainSec {
    padding: 40px 0;
    width: 60%;
    text-align: center;
    min-width: 450px;
    max-width: calc(0.6 * 1920px);
}

main.startMain section.mainSec h1 {
    padding-bottom: 40px;
    font-size: 48px;
    color: #22252F;
}

main.startMain section.mainSec p {
    display: block;
    padding-bottom: 40px;
}

main.startMain section.mainSec {
    display: block;
    padding-top: 40px;
}

main.startMain section.mainSec ul.links {
    display: flex;
    justify-content: center;
}

main.startMain section.mainSec ul.links li {
    display: block;
    margin: 0 10px;
}

main.startMain section.mainSec ul.links li a, main.startMain section.mainSec ul.links li button {
    display: block;
    border: 1px solid transparent;
    border-radius: 30px;
}

main.startMain section.mainSec ul.links li button.getStarted {
    width: 100%;
    font-size: 14px;
    padding: 15px 52px;
    background-color: #4581af;
    color: #fff;
    transition: 0.5s;
    outline: none;
    cursor: pointer;
}

main.startMain section.mainSec ul.links li button.getStarted:hover {
    background-color: #4581af;
}

main.startMain section.mainSec ul.links li a[href="#discoverfeatures"] {
    font-size: 14px;
    padding: 15px 30px;
    background-color: #fff;
    color: #4581af;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 20px 30px -12px, rgba(0, 0, 0, 0.3) 0px 8px 18px -18px;
    transition: 0.5s;
}

main.startMain section.mainSec ul.links li a[href="#discoverfeatures"]:hover {
    border: 1px solid #4581af;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 10px 30px -12px, rgba(0, 0, 0, 0.3) 0px 4px 18px -18px;
    transition: 0.5s;
}


/*
    Responsive section
 */


@media screen and (max-width: 600px) {
    main.startMain section.mainSec {
        padding: 40px 19px;
        width: 100%;
        min-width: 0px;
    }

    main.startMain section.mainSec h1 {
        font-size: 24px;
    }


}

@media screen and (max-width: 450px) {
    main.startMain section.mainSec ul.links {
        display: block;
    }

    main.startMain section.mainSec ul.links li {
        margin-bottom: 10px;
    }
}





/*
                Auth window
 */

section.authorization {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}

section.authorization .form {
    display: block;
    margin: calc(50vh - 200px) auto;
    background-color: #fff;
    width: 400px;
    height: 420px;
    min-width: 250px;

}

.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

section.authorization .form .close{
    display: flex;
    justify-content: flex-end;
}

section.authorization .form .close button {
    padding: 10px;
    display: block;
    background-color: transparent;
    outline: none;
    border: none;
    font-size: 40px;
    line-height: 27px;
    transition: 0.5s;
}

section.authorization .form .close button:hover {
    color: #ff5345;
}

/*
    Auth window SignIn
 */

section.authorization .form .inputFields {
    margin: auto;
    width: 70%;
}


section.authorization .form label {
    font-size: 14px;
    text-align: left;
    display: block;
}

section.authorization .form .input-field {
    width: 100%;
    height: 35px;
    margin-bottom: 10px;
}

section.authorization .form input {
    padding: 3px 5%;
    outline: none;
    box-shadow: none;
    border: 1.5px solid #c8c8c8;
    display: block;
    width: 100%;
    height: 35px;
}

section.authorization .form input:focus {
    border: 1.5px solid #414141;
}





section.authorization .form .authButton button {
    margin-bottom: 30px;
    display: block;
    color: #fff;
    font-weight: normal;
    border: 1px solid #0069D9;
    background-color: #0069D9;
    margin-top: 20px;
    width: 100%;
    /*height: 38px;*/
    outline: none;
    transition: 0.5s;
    padding: 15px 30px;
}

section.authorization .form .authButton button:hover {
    background-color: #005dc4;
    transition: 0.5s;
}

section.authorization .form .authButton button:active {
    color: #0069D9;
    background-color: #fff;
    /*border: 1px solid transparent;*/
    box-shadow: inset rgba(50, 50, 93, 0.25) 0px 10px 30px -12px, rgba(0, 0, 0, 0.3) 0px 4px 18px -18px;
    transition: 0.5s;
}

section.authorization .form .authButton .switchAuth span{
    padding: 0;
    font-size: 12px;
    word-spacing: normal;
    color: #005dc4;
    cursor: pointer;
}

section.authorization .form .authButton .switchAuth button{
    height: auto;
    background-color: transparent;
    border: 0;
    margin: 0;
    padding: 0;
    font-size: 12px;
    word-spacing: normal;
    color: #005dc4;
    cursor: pointer;
}

section.authorization .form .authButton .switchAuth span:hover {
    text-decoration: underline #005dc4;
}

section.authorization .form .authButton .switchAuth button:hover {
    box-shadow: none;
    text-decoration: underline #005dc4;
}



section.authorization .form .SignInForm {
    width: 100%;
}

section.authorization .form .SignInForm span#authSpanToChange{
    text-align: center;
    display: block;
    font-size: 24px;
    padding: 20px 0 0px;
    word-spacing: 5px;
}

section.authorization .form .SignInForm .inputFields span#authErrorMessage {
    font-size: 14px;
    text-align: center;
    /*background-color: rgba(255, 132, 132, 0.3);*/
    min-height: 52px;
    color: rgb(255, 69, 69);
    display: block;
    width: 100%;
    padding: 15px 0;
}


/*
        Animations
*/

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}

@media screen and (max-width: 600px) {

    section.authorization .form {
        display: block;
        margin: 0;
        background-color: #fff;
        width: 100vw;
        height: 100vh;
    }
}


/*

    MAIN APP

 */

main.mainApp {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    /*background-color: #D7D7D7;*/
    background-color: #F4F5F9;
    min-width: 300px;
}

main.mainApp nav.appNavBar {
    height: 50px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.16);
}

main.mainApp #navLogo {
    display: block;
    padding: 0 38px;
}

main.mainApp nav.appNavBar ul {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

main.mainApp nav.appNavBar ul li {
    height: 100%;
    display: block;
    margin-right: 38px;
    display: flex;
    align-items: center;
}

main.mainApp nav.appNavBar ul li button {
    display: block;
    outline: none;
    border: none;
    border-radius: 16px;
    font-weight: 600;
    font-size: 14px;
    color: #fff;
    background-color: #FF4545FF;
    padding: 5px 20px;
    cursor: pointer;
}

main.mainApp nav.appNavBar ul li button:hover {
    background-color: #d23939;
}

main.mainApp .sectionContainer {
    height: calc(100vh - 50px);
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

main.mainApp section.mainSection {
    width: calc(100% - 38*2px);
    height: 90%;
    display: flex;
    justify-content: space-between;
}

main.mainApp section.mainSection section.tasksMain {
    height: 100%;
    background-color: #fff;
    width: calc(100% - 19px - 60px);
    border-radius: 32px;
    display: flex;
    justify-content: center;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.16);
    transition: 1s;
}


main.mainApp section.mainSection  .addNew {
    padding: 10px 0;
}

main.mainApp section.mainSection label {
    display: block;
    text-align: center;
    margin-bottom: 10px;
}

main.mainApp section.mainSection input {
    display: block;
    width: 70%;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    margin: 0 auto;
    font-size: 16px;
}



main.mainApp section.mainSection .asideMenu {
    display: block;
    height: 100%;
    background-color: #fff;
    border-radius: 32px;
    width: 50px;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.16);
    transition: 1s;
}

main.mainApp section.mainSection .asideMenu .asideButton {
    width: 20px;
    height: 20px;
    text-align: center;
    font-weight: bolder;
    line-height: 100%;
    position: absolute;
    border: none;
    cursor: pointer;
    transform: rotateZ(90deg) translate(10px, -10px);

    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

main.mainApp section.mainSection .asideMenu.open {
    width: 30%;
}

main.mainApp section.mainSection .asideMenu.open .asideForm {
    width: 100%;
    visibility: visible;
}

main.mainApp section.mainSection .asideMenu.open .asideForm ul.collection {
    padding: 0px 5px;
}

main.mainApp section.mainSection .tasksMain.open {
    width: calc(70% - 29px);
}

main.mainApp section.mainSection .asideMenu .asideButton:hover {
    color: #45AF61;
    transition: 0.3s;
}

main.mainApp section.mainSection .asideMenu .asideButton.open {
    transform: rotateZ(0) translate(10px, 10px);
}

main.mainApp section.mainSection .asideMenu .asideButton.open:hover {
    color: rgb(255, 69, 69);
    transition: 0.3s;
}

@media screen and (max-width: 950px) {
    main.mainApp section.mainSection .tasksMain.open {
        width: calc(100% - 29px);
    }

    main.mainApp section.mainSection .asideMenu.open {
        width: 40%;
    }
}

@media screen and (max-width: 600px) {
    main.mainApp section.mainSection {
        width: calc(100% - 38px);
    }

    main.mainApp section.mainSection .tasksMain.open {
        width: 50px;
    }

    main.mainApp section.mainSection .tasksMain.open .row {
        visibility: hidden;
    }

    main.mainApp section.mainSection .asideMenu.open {
        width: calc(100% - 19px - 60px);;
    }
}

@media screen and (max-width: 360px) {
    main.mainApp section.mainSection .tasksMain.open {
        width: 0px;
    }

    main.mainApp section.mainSection .tasksMain.open .row {
        visibility: hidden;
    }

    main.mainApp section.mainSection .asideMenu #myInputDesk {
        padding: 2px 5px;
    }

    main.mainApp section.mainSection .asideMenu.open {
        width: calc(100%);
    }
}

main.mainApp section.mainSection .asideMenu .asideForm{
    width: 0;
    overflow: hidden;
    visibility: hidden;
    transition: 1s;
    margin-top: 40px;
}


main.mainApp section.mainSection .asideMenu.deskTitle {
    display: block;
    width: 80%;
    margin: 0 auto;
}

main.mainApp section.mainSection .asideMenu.deskTitle:hover{
    background-color: black;
    border: 2px solid black;
    color: white;
}

main.mainApp section.mainSection .asideMenu .asideForm span.deskTitle {
    overflow: hidden;
    word-break: unset;
    cursor: pointer;
}

/*
        LIST
 */

main.mainApp section.tasksMain section.taskList {
    overflow-y: scroll;
    height: calc(100% - 25px);
    width: 100%;
    padding: 8px 13px;
}

@media screen  {
    main.mainApp section.tasksMain section.taskList {
        padding: 8px 0;
    }
}

main.mainApp section.tasksMain section.taskList::-webkit-scrollbar {
    display: none;
}

main.mainApp section.mainSection .oneTask {
    width: 100%;
    margin: 0;
    clear: none;
    display: inline-block;
}

main.mainApp section.mainSection span.taskTitle {
    display: block;
    width: 100%;
    word-break: break-word;
}
main.mainApp section.mainSection span.taskTitleLine {
    display: block;
    width: 100%;
    word-break: break-word;
    text-decoration: line-through;
}

main.mainApp section.mainSection span.taskDate {
    font-size: small;
    font-style: italic;
    display: block;
}

main.mainApp section.mainSection ul li.item {
    border: 1px solid transparent;
    border-radius: 8px;
    transition: 0.4s;
    padding: 4px 6px;
    margin-bottom: 10px;
    display: flex;
}
main.mainApp section.mainSection ul li.item:hover, main.mainApp section.mainSection ul li.item:focus-within {
    border: 1px solid rgb(182, 182, 182);
    box-shadow: rgba(244, 245, 249, 0.06) 1px 1px 4px 0px inset, rgba(244, 245, 249, 0.06) -1px -1px 4px 0px inset;
    transition: 0.4s;
}

main.mainApp section.mainSection ul li.item:hover .itemMenuButton {
    visibility: visible;
    background-color: #fff;
    color: #000;
    transition: 0.4s;
    border: 1px solid rgba(0, 0, 0, 0.5);
}

main.mainApp section.mainSection ul li .itemMenu {
    clear: none;
    display: inline-block;
    width: 0px;
    z-index: 1;
    margin-left: -30px;
}

main.mainApp section.mainSection ul li .innerMenu {
    margin-top: 5px;
    text-align: center;
}

main.mainApp section.mainSection ul li .innerMenu .itemMenuButton {
    border-radius: 20px;
    border: 1px solid transparent;
    outline: none;
    border: none;
    width: 30px;
    height: 15px;
    line-height: 4px;
    align-items: center;
    display: block;
    visibility: hidden;
    color: #fff;
}


main.mainApp section.mainSection ul li .innerMenu .itemMenuButton div {
    height: 15px;
    font-size: 16px;

}

/*  Aside   */

main.mainApp section.mainSection section.tasksMain .addNewTask {
    padding: 10px 0;
}

/*
        DESKS MARK
 */


.currDesk {
    border-color: #45AF61!important;
}



/*
    Discover features
 */


.startMain section#discoverfeatures {
    width: 100%;
    paddin: 0;
    margin: 100px 0;
}

.startMain section#discoverfeatures .box {
    overflow: hidden;
    width: 100%;
    margin-bottom: 30px;
    display: flex;
}

.startMain section#discoverfeatures .box img {
    display: block;
    padding-right: 15px;
    width: 40%;
    height: auto;
}

.startMain section#discoverfeatures .box:nth-child(odd) img {
    display: block;
    padding-left: 15px;
    width: 40%;
    height: auto;
}

.startMain section#discoverfeatures .box .text {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.startMain section#discoverfeatures .box p {
    padding: 0;
    font-size: 21px;
    color: #22252F;
    max-width: 500px;
}

@media screen and (max-width: 950px) {
    .startMain section#discoverfeatures .box {
        flex-direction: column;
    }

    .startMain section#discoverfeatures .box:nth-child(odd) {
        flex-direction: column-reverse;
    }

    .startMain section#discoverfeatures .box img {
        width: 100%;
        padding: 15px 0;
    }

    .startMain section#discoverfeatures .box:nth-child(odd) img {
        width: 100%;
        padding: 15px 0;
    }
}
@media screen and (max-width: 550px) {
    .startMain section#discoverfeatures .box p {
        padding: 0;
        font-size: 18px;
        color: #22252F;
    }
}

footer {
    /*padding-top: 25px;*/
    background-color: #3C3F48;
    color: #fff;
    height: 150px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

footer span {
    text-align: center;
    color: #fff;
    display: block;
}

footer .wrap {
    width: 100%;
    display: flex;
    justify-content: center;
}


footer ul {
    width: 100%;
    display: flex;
    /*width: 400px;*/
    justify-content: space-around;
    max-width: 700px;
}

footer ul li a {
    border-radius: 15px;
    border: 1px solid transparent;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}

footer ul li a:hover {
    border-color: #2980b9;
    transition: 0.3s;
}

footer ul li a:hover span {
    color: #3498db;
    transition: 0.3s;

}


footer ul li span {
    display: block;
    color: #fff;
    padding-right: 15px;
    transition: 0.3s;
}

footer img {
    width: 40px;
    height: auto;
    /*background-color: #fff;*/
}

@media screen and (max-width: 600px) {
    footer ul {

        flex-direction: column;
    }
}