


#myInput {
    width: 100%;
    padding: 8px 20px 8px 40px;
    border: 1px solid #fff;
    margin-bottom: 0;
    border-radius: 10px;
    font-size: 16px;
    font-style: italic;

    background-color: #fff;
}

#myInputDesk {
    width: 100%;
    padding: 2px 20px 2px 40px;
    border: 1px solid #fff;
    margin-bottom: 0;
    border-radius: 10px;
    font-size: 14px;
    font-style: italic;

    background-color: #fff;
}

.column {
    float: left;
    width: 32%;
    padding: 0 5px;
    height: 100%;
}
.row {
    margin-left: 5px;
    margin-right: 5px;
    width: 100%

}

.upperPart h3 {
    height: 5%;
}

.upperPart {
    height: 8%;
}
.upperPart button{
    background-color: #fff;
    border: none;
    border-radius: 100%;
    color: black;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    font-style: italic;
    margin: 4px 2px;
    curson: pointer;
}
.upperPart button:not(:last-child){
    border-right: none;
}
.upperPart:after {
    content: "";
    clear: both;
    display: table;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
        display: block;
        margin-bottom: 10px;
    }
}

.buttonSwitch{
    background-color: #fff;
    border: none;
    border-radius: 100%;
    color: black;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    font-style: italic;
    margin: 4px 2px;
    vertical-align: top;
}


.buttonCheck {
    background-color: #fff;
    border: 1px solid #ddd;
    color: black;
    padding: 5px 7px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 2px 2px;
    cursor: pointer;
    border-radius: 5px;
}
.buttonCheck:active {

}

.dropbtn {
    background-color: #dddddd;
    color: white;
    padding: 2px;
    font-size: small;
    border: none;
    cursor: pointer;
    border-radius: 10%;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: black;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #ddd}
.show {display:block;}

